@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Joy Journal is an MVC built to help connect users to eachother and their feelings by encouraging YOU to journal! This is a space for people to be honest with themselves and others about how they feel.
</p>
