<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Joy Journal</h1>
    <p class="lead">Welcome! Joy Journal is an MVC built to help connect users to eachother and their feelings by encouraging YOU to journal! This is a space for people to be honest with themselves and others about how they feel.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text">My Journal</h2>
        <p class="text">
            View and manage your journal entries here. Please note you must be logged in to utilize.
        </p>
        <p class="text">
            @Html.ActionLink("Journal Entries","Index","JournalEntry")
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text">Prompts</h2>
        <p class="text">View and answer pre-written prompts here. New features coming soon!</p>
        <p class="text">

            @Html.ActionLink("Prompts", "Index", "Prompt")
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text">Resources</h2>
        <p class="text">If you're searching for resources on mental health and wellness, look here.</p>
        <p class="text">
            @Html.ActionLink("Help Resources", "Index", "HelpResources")
        </p>
    </div>
</div>