@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Joy Journal</h1>
    <p class="lead">Welcome! Joy Journal is an MVC built to help connect users to eachother and their feelings by encouraging YOU to journal! This is a space for people to be honest with themselves and others about how they feel.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Journal</h2>
        <p>
            View and manage your journal entries here. Please note you must be logged in to utilize.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Go to Journal &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prompts</h2>
        <p>View and answer pre-written prompts here. New features coming soon!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Go to Prompts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Resources</h2>
        <p>If you're searching for resources on mental health and wellness, look here.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Go to Resources &raquo;</a></p>
    </div>
</div>