@model System.Web.Mvc.HandleErrorInfo
<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Oops. Sorry!</h1>
<h2 class="text-danger">If you're seeing this page, that means either an error occurred while processing your request, or I havent implemented this feature yet. Sorry for the inconvenience!</h2>

