body {
}
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-horizontal{
    background-color: #FFFDD0;
    border-radius: 5px;
    padding: 10px;
}
.dl-horizontal {
    background-color: #FFFDD0;
    border-radius: 5px;
    padding: 10px;
}
.head {
    padding: 5px;
   
    background-color: rgba(255, 253, 208, 0.7);
    border-radius: 5px;
}